export(lasso.stars)
S3method("print","stars")
S3method("plot","stars")

export(sml_kmeans)
S3method("print","sml_kmeans")
S3method("plot","sml_kmeans")
S3method("summary","sml_kmeans")
S3method("print","summary.sml_kmeans")

export(sml_em_gaussian)
S3method("print","sml_emG")
S3method("plot","sml_emG")
S3method("summary","sml_emG")
S3method("print","summary.sml_emG")

export(sml_em_multinomial)
S3method("print","sml_emM")
S3method("plot","sml_emM")
S3method("summary","sml_emM")
S3method("print","summary.sml_emM")

export(sml_pca)
S3method("print","sml_pca")
S3method("plot","sml_pca")
S3method("summary","sml_pca")
S3method("print","summary.sml_pca")

export(plot_images)
S3method("plot_images","default")
S3method("plot_images","sml_pca")

export(sml_regression_gaussian)
S3method("print","sml_reg")
S3method("plot","sml_reg")
S3method("summary","sml_reg")
S3method("print","summary.sml_reg")



export(generate_mixture_model)
export(reset_plot)

import(glmnet, Matrix, lattice, mclust, animation, mixtools, svmpath)